<section>
    <h2>Entre como participante</h2>
    <form action="" action="POST">
        <label class="sr-only" for="room-id">C칩digo da sala</label>
        <input id="room-id" type="number" placeholder="C칩digo da sala" />
        <button>
      <img src="/images/enter-room.svg" alt="Entrar na sala" />Entrar na sala
    </button>
    </form>
</section>

<div class="separator">
    <div></div>
    <div>ou</div>
    <div></div>
</div>

<section>
    <h2>Crie uma sala pr칩pria de forma f치cil</h2>
    <a class="button outlined" href="/create-room">
        <img src="/images/users.svg" alt="Criar sala" /> Criar sala
    </a>
</section>