<div class="noQuestions">
    <img src="/images/noQuestions.svg" alt="Sem perguntas" />
    <p>Não há nada por aqui...</p>
    <p>
        Faça sua primeira pergunta, ou envie o <br /> código da sala para outras pessoas!
    </p>
</div>