.content {
    max-width: min(102rem, 90%);
}

#room header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#room header .buttons {
    display: flex;
}

#room header .buttons .button:nth-child(1) {
    margin-right: 0.8rem;
    padding: 1.3rem 1.6rem;
}

#room header .buttons .button:nth-child(1) img {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
}

#room header .buttons .button:nth-child(2) {
    padding: 1.3rem 3.2rem;
}

#room header .buttons .button:nth-child(2) img {
    width: 2rem;
    height: 2rem;
}


/* -----------FORM-QUESTION-------------- */

#question-form h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2.8rem;
    color: var(--black);
    font-weight: 700;
    margin-bottom: 2.4rem;
    line-height: 4.2rem;
}

#question-form form {
    border: 0.2rem solid var(--grey-blue);
    padding: 1.6rem;
    border-radius: 0 0.8rem 0.8rem 0.8rem;
    margin-bottom: 1.6rem;
}

#question-form textarea {
    resize: none;
    background: transparent;
    outline: none;
    width: 100%;
}

#question-form textarea::placeholder {
    color: var(--grey-blue);
}

#question-form form footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#question-form form footer>div {
    display: flex;
    align-items: center;
    color: var(--icons-details);
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
}

#question-form form footer>div img {
    margin-right: 0.9rem;
}

#question-form form footer button {
    height: auto;
    padding: 0.8rem 2.4rem;
    line-height: 2.4rem;
}


/* ----------QUESTION WRAPPER-------------- */

.question-wrapper {
    background: var(--light-blue);
    margin-bottom: 0.8rem;
    border-radius: 0 0.8rem 0.8rem 0.8rem;
    padding: 2.4rem;
}

.question-wrapper .question-content {
    display: flex;
    align-items: flex-start;
}

.question-wrapper .question-content .user {
    background: var(--blue);
    clip-path: circle();
    padding: 1.4rem;
}

.question-wrapper .question-content>p {
    margin-left: 1.6rem;
    word-break: break-word;
    display: flex;
    align-items: center;
    min-height: 5.2rem;
}

.question-wrapper .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.question-wrapper .actions>a {
    display: flex;
    align-items: center;
}

.question-wrapper .actions>a>img {
    margin-right: 0.8rem;
}

.question-wrapper .actions>a+a {
    margin-left: 0.8rem;
}


/* --------------QUESTIONS READS------------------*/

.question-wrapper.read {
    background: var(--grey-light-opacity);
}

.question-wrapper.read .question-content .user {
    background: var(--grey-blue);
}


/* --------------------NO QUESTIONS ---------------- */

.noQuestions {
    text-align: center;
    margin-top: 5.2rem;
}

.noQuestions {
    max-width: 100%;
    margin-bottom: 1.2rem;
}

.noQuestions p {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}

.noQuestions p+p {
    font-family: "Open sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 1.3rem;
    line-height: 1.9rem;
}